/*CSS mobile*/
:root{
    /*Variables*/
    --primaryC:#494949;
    --backgroundCSoft:#f3f3f3;
    --containerBC:#fdfdfd;
    --backGC:#ffb22e;
    --titleTip: 'Boogaloo', cursive;
    --fillbar:0%;

    /*Global styles*/
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

/*Generic styles*/
body{
    background-color:var(--backgroundCSoft);
}

#container{
    background-color:var(--containerBC);
}

h3{
    font-family: var(--titleTip);
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.padding-0-20{
    padding:0 20px;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.boton{
    padding: 8px 20px;
    font-weight: bold;
    background-color: var(--backGC);
    color: var(--primaryC);
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    border: 1px solid #b0b0b0;
}

/*Navbar*/
.navbar{
    background-color:var(--backGC);
    padding:10px 0;
}

.navbar h1{
    margin:0;
    text-align: center;
    font-family: var(--titleTip);
    text-transform: uppercase;
    font-size: 1.75rem;
}

.navbar .namePrfl{
    color: #000;
}

.navElements{
    display: none;
}

/*Header*/
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    border-radius: 4px;
    border:1px solid #dedede;
    margin: 20px 0 30px 0;
    /*padding: 10px 4px;*/
    background-color:#fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 85%;
}

.header .card figure{
    margin: 10px 0;
}

.header .card img{
    border:4px solid var(--primaryC);
    border-radius:100%;
    max-width: 90%;
    background-color: var(--backgroundCSoft);
}

.header .card .profileI{
    width: 100%;
    border-top: 2px solid #454545;
    background-color: #e7c2f9;
    padding: 14px 10px;
}



.header .card .profileI li{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width:100%;
    margin:8px 0;
}

.header .card .profileI li h4{
    font-weight: 700;
    margin-right: 4px;
}

.mainContent section{
    margin-bottom: 40px;
}

.mainContent section:last-of-type{
    margin-bottom: 0;
}


/*Slider*/
#project .carouselCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    scroll-behavior: smooth;
    margin-bottom: 8px;
}

#project .sliderC {
    min-width: 100%;
    min-height: 300px;
    background-color:#fff;
    color: #fff;
    position: relative;
}
#project .sliderC .dark{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: #00000057;
}

#project .slideCnt {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    align-content: center;
    justify-content: center;
    text-align: center;
    line-height: 40px;
    padding: 0 10px;
}

#project .sliderC img{
    min-width:100%;
}

#project .controlDots ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#project .controlDots li{
    width:15px;
    height:15px;
    border-radius:100%;
    background-color:var(--backGC);
    margin: 0 4px;
}

#project .controlDots li a{
    display: flex;
    width: 100%;
    height: 100%;
}

/*Progress bars*/

/*Progress classes*/
.prog5{
    --fillbar:5%;
}
.prog10{
    --fillbar:10%;
}
.prog15{
    --fillbar:15%;
}
.prog20{
    --fillbar:20%;
}
.prog25{
    --fillbar:25%;
}
.prog30{
    --fillbar:30%;
}
.prog35{
    --fillbar:35%;
}
.prog40{
    --fillbar:40%;
}
.prog45{
    --fillbar:45%;
}
.prog50{
    --fillbar:50%;
}
.prog55{
    --fillbar:55%;
}

.prog60{
    --fillbar:60%;
}
.prog65{
    --fillbar:65%;
}

.prog70{
    --fillbar:70%;
}
.prog75{
    --fillbar:75%;
}

.prog80{
    --fillbar:80%;
}
.prog85{
    --fillbar:85%;
}

.prog90{
    --fillbar:90%;
}
.prog95{
    --fillbar:95%;
}

.prog100::after{
    --fillbar:100%;
}

/*Progress bars styles*/

/*#skills .skillsBC{
    padding: 0 20px;
}*/

#skills .progressC{
    width: 80%;
    overflow: hidden;
}

#skills .progressC .progress,
#skills .progressC .progress::after{
    position:relative;
    width:100%;
    background-color: var(--backgroundCSoft);
    height: 8px;
    
}

#skills .progressC .progress::after{
    content:'';
    position:absolute;
    left: -100%;
    overflow: hidden;
    background-color: var(--backGC);
    transition: all 2s ease-in-out .2s; 
    animation: fillingbars 4s forwards;
}

#skills .skillD{
    margin-bottom:14px;
}
#skills .skillT{
    margin-bottom:4px;
}

@keyframes fillingbars {
    to{
        transform:translateX(var(--fillbar));
    }
}

/*Formulario styles*/
#contact{
    background:var(--backgroundCSoft);
    padding: 20px 0;
}

#contact .formInput{
    margin-bottom:14px;
}

#contact .formInput label{
    margin-right:4px;
}

#detalles{
    margin-top: 10px;
    min-width: 90%;
    min-height: 135px;
    padding: 8px 10px;
}

.formInput fieldset{
    padding: 10px;
    border: 2px solid #888888;
    margin: 20px 0;
    background-color:var(--containerBC);
}

.formInput fieldset legend{
    padding-inline: 8px;
}

#contact .contRd{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 8px;
}

#contact button{
    margin: 20px 0 12px 0;
}

/*Footer styles*/
.footer{
    background-color:var(--primaryC);
}

.footer .containerF{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding: 20px 0;
}

.footer a{
    color:#fff;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}